{{>layout/header}}

<h1>상담자 등록</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="name">이름</label>
                <input type="text" class="form-control" id="name" placeholder="이름 입력하세요">
            </div>
            <div class="form-group">
                <label for="age"> 나이 </label>
                <input type="text" class="form-control" id="age" placeholder="나이를 입력하세요">
            </div>
            <div class="form-group">
                <label for="job"> 직업 </label>
                <input type="text" class="form-control" id="job" placeholder="직업을 입력하세요">
            </div>
        </form>
        <a href="/counselor-index" role="button" class="btn btn-secondary">취소</a>
        <button type="button" class="btn btn-primary" id="counselor-btn-save">등록</button>
    </div>
</div>

{{>layout/footer}}