{{>layout/header}}
<html>
    <head>
            <title>CAPSTONE</title>
    </head>
        <body>
        <a href="main/ss1" style="position: relative;left:33%;"><img src="https://postfiles.pstatic.net/MjAyMDAzMjRfMTE2/MDAxNTg1MDQ2NzQ5Mjc2.Rpsw7fK0hZUWLx2mJDApRlEywAO94oMErPmmviZTkUwg.W-3TNhZwooTZbT_76aOD3g0fIIrYhZqH-0z2CDVFcU0g.PNG.ctr_poker/123.png?type=w580"/></a>
        </body>
</html>
{{>layout/footer}}