{{>layout/header}}

<h1>Main Page</h1>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <a href="/counselor/index" role="button" class="btn btn-primary">상담자</a>
            <a href="/posts/save" role="button" class="btn btn-primary">내담자</a>
            <a href="/posts/index" role="button" class="btn btn-primary">상담 기록 게시판</a>
        </div>
    </div>
</div>

{{>layout/footer}}