{{>layout/header}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<h1>게시글 등록</h1>
<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label> 상담자(작성자) </label>
                <select id="author">
                    {{#counselor}}
                        <option value ="{{name}}"> {{name}}</option>
                    {{/counselor}}
                </select>
            </div>
            <div class="form-group">
                <label> 내담자 </label>
                <select id="client">
                    {{#client}}
                        <option value ="{{name}}"> {{name}}</option>
                    {{/client}}
                </select>
            </div>
            <div class="form-group">
                <label for="title">상담일자</label>
                <input type="text" class="form-control" id="title" placeholder="상담일자 입력하세요">
            </div>
            <div class="form-group">
                <label for="content"> 상담내용 </label>
                <textarea class="form-control" id="content" placeholder="상담내용을 입력하세요"></textarea>
            </div>
            <div class="form-group">
                <input type="hidden" class="form-control" id="images" value="test" multiple="multiple">
            </div>
        </form>
        <a href="/" role="button" class="btn btn-secondary">취소</a>
        <button type="button" class="btn btn-primary" id="posts-btn-save">등록</button>
    </div>
    <form>
    <img id="img" src="https://capstone-naeronambul.s3.ap-northeast-2.amazonaws.com/image/img0.jpg" />
    <input id ="txt" type="text" value="DEFAULT" />
    <input type="button" id="execute" value="execute" />
        <script>
            $('#execute').on('click',function(){
            $.ajax({
                type: "POST",
                url:'/reload',
                dataType:"json",
                data: '{}',
                cache:false,
                success:function(data){
                    var a=data.start;
                    if(a === "true"){
                        $('#img').attr("src",data.img);
                        $('#txt').attr("value",data.txt);
                        }
                    $.ajax({
                        type: "POST",
                        url:'/reload_images',
                        dataType:"json",
                        data: '{}',
                        cache:false,
                        success:function(data){
                              $('#images').attr("value",data.images);
                         }
                    })
                         }
                    })
                })
                 setInterval(function() {
                 $("#execute").trigger("click");
                 }, 2000);
        </script>
    </form>
</div>

{{>layout/footer}}