{{>layout/header}}
<h1>이미지 출력</h1>
<div id="test">
    {{#images}}
    <img id="img" src="https://capstone-naeronambul.s3.ap-northeast-2.amazonaws.com/image/{{.}}" />
    {{/images}}
</div>
{{>layout/footer}}
